<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include version.wxi ?>
  <?define ProductAuthor = "Hearing Research Center" ?>
  <?define Manufacturer="Boston University"?>
  <?define ProductAppFolder = "InstallLocation" ?>
  <?define InstallersRoot="$(var.ESMERoot)\Installers"?>
  <?define MSIRoot="$(var.InstallersRoot)\MSI Packages"?>
  <?define DatabasesRoot="$(var.MSIRoot)\ESME Databases"?>
  <?define ApplicationRoot="$(var.MSIRoot)\ESME Application MSI"?>
  <?define PluginsRoot="$(var.MSIRoot)\Plugins\Environmental Databases"?>
  <?if $(var.Platform) = x64 ?>
  <?define Bitness="64-bit"?>
  <?else ?>
  <?define Bitness="32-bit"?>
  <?endif ?>
  <?define ProductName = "ESME 2012 $(var.Bitness) Application and Databases" ?>
  <Bundle Name="$(var.ProductName)" 
          Version="$(var.ProductFullVersion)" 
          Manufacturer="$(var.Manufacturer)" 
          UpgradeCode="88B26169-9067-4371-B043-358D191E9001" 
          IconSourceFile="..\Common Files\Wave.ico"
          SplashScreenSourceFile="..\Common Files\ESMELogo.bmp" 
          AboutUrl="http://esme.bu.edu/"
          UpdateUrl="http://esme.bu.edu"
          Compressed="no">
    <Variable Name="BundleLongName" Value="Effects of Sound on the Marine Environment" />
    <Variable Name="BundleShortName" Value="ESME 2012" />
    <Variable Name="ProductLongName" Value="$(var.ProductName)" />
    <Variable Name="ProductShortName" Value="$(var.Bitness) Application and Databases" />
    <Variable Name="ProductFullVersion" Value="$(var.ProductFullVersion)" />
    <Variable Name="BackgroundColor" Value="#FF20B2AA" />
    <Variable Name="ProgressBarColor" Value="#FF008E91" />
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Name="BootstrapperCore.config"
               SourceFile="..\..\ManagedBootstrapper\Bootstrapper.BootstrapperCore.config" />
      <Payload Name="Bootstrapper.dll"
               SourceFile="..\..\ManagedBootstrapper\bin\Release\Bootstrapper.dll" />
      <Payload Name="License.htm"
               SourceFile="..\Common Files\license.htm" />
      <Payload Name="NetFxLicense.rtf"
               SourceFile="..\dotNetFx40\NetFxLicense.rtf" />
    </BootstrapperApplicationRef>
    <Chain DisableRollback="yes" DisableSystemRestore="yes" ParallelCache="yes">
      <PackageGroupRef Id="Netfx4Full" />
      <MsiPackage DownloadUrl="$(var.DownloadURLRoot)/ESME%20Application-$(var.Platform).msi"
                  SourceFile="$(var.ApplicationRoot)\msi\ESME Application-$(var.Platform).msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="yes"
                  Vital="no"/>
      <MsiPackage DownloadUrl="$(var.DownloadURLRoot)/InstallableNAVOPlugin-$(var.Platform).msi"
                  SourceFile="$(var.PluginsRoot)\InstallableNAVO\msi\InstallableNAVOPlugin-$(var.Platform).msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="yes"
                  Vital="no"/>
      <MsiPackage DownloadUrl="$(var.DownloadURLRoot)/SMGC_2.0_Minimal.msi"
                  SourceFile="$(var.DatabasesRoot)\SMGC_2.0_Minimal\bin\x86\Release\SMGC_2.0_Minimal.msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="yes"
                  Vital="no">
        <!-- <MsiProperty Name="INSTALLLOCATION" Value="[InstallLocation]"/> -->
      </MsiPackage>
      <MsiPackage DownloadUrl="$(var.DownloadURLRoot)/BST_2.0.msi"
                  SourceFile="$(var.DatabasesRoot)\BST_2.0\bin\x86\Release\BST_2.0.msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="yes"
                  Vital="no">
        <!-- <MsiProperty Name="INSTALLLOCATION" Value="[InstallLocation]"/> -->
      </MsiPackage>
      <MsiPackage DownloadUrl="$(var.DownloadURLRoot)/DBDB-V_5.4.msi"
                  SourceFile="$(var.DatabasesRoot)\DBDB-V_5.4\bin\x86\Release\DBDB-V_5.4.msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="yes"
                  Vital="no">
        <!-- <MsiProperty Name="INSTALLLOCATION" Value="[InstallLocation]"/> -->
      </MsiPackage>
      <MsiPackage DownloadUrl="$(var.DownloadURLRoot)/GDEM-V_3.0.msi"
                  SourceFile="$(var.DatabasesRoot)\GDEM-V_3.0\bin\x86\Release\GDEM-V_3.0.msi"
                  Permanent="no"
                  Compressed="no"
                  Visible="yes"
                  Vital="no">
        <!-- <MsiProperty Name="INSTALLLOCATION" Value="[InstallLocation]"/> -->
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
