<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DavesWPFTester.Properties.Settings" allowExeDefinition="MachineToLocalUser" requirePermission="false" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MainDataContextConnectionString" connectionString="Data Source=&quot;C:\Users\Dave Anderson\AppData\Roaming\ESME.Simulation Tests\Database\esme.db&quot;" />
  </connectionStrings>
  <userSettings>
    <DavesWPFTester.Properties.Settings>
      <setting name="Test" serializeAs="String">
        <value />
      </setting>
    </DavesWPFTester.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="console" initializeData="false" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4"></trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
