<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DavesWPFTester.Properties.Settings" allowExeDefinition="MachineToLocalUser" requirePermission="false" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LocationConnectionString" connectionString="metadata=res://*/Location.csdl|res://*/Location.ssdl|res://*/Location.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=&quot;&quot;C:\Projects\ESME Deliverables\Miscellaneous\DavesWPFTester\location.esme&quot;&quot;;FailIfMissing=False&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LocationEntitiesConnectionString" connectionString="metadata=res://*/Location.csdl|res://*/Location.ssdl|res://*/Location.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=&quot;&quot;C:\Projects\ESME Deliverables\Miscellaneous\DavesWPFTester\location.esme&quot;&quot;;FailIfMissing=False&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataContextConnectionString" connectionString="" />
    <add name="MainDataContextConnectionString" connectionString="Data Source=&quot;C:\Projects\ESME Deliverables\Miscellaneous\DavesWPFTester\MySQLiteContext.db&quot;;FailIfMissing=False" />
  </connectionStrings>
  <userSettings>
    <DavesWPFTester.Properties.Settings>
      <setting name="Test" serializeAs="String">
        <value />
      </setting>
    </DavesWPFTester.Properties.Settings>
  </userSettings>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="SourceSwitch">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="console" initializeData="false" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4"></trace>
  </system.diagnostics>
</configuration>