<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TransmissionLossViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <TransmissionLossViewer.Properties.Settings>
            <setting name="LastCSVExportFileDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastImageExportFileDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExperimentReportDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="TransmissionLayersWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
        </TransmissionLossViewer.Properties.Settings>
    </userSettings>
</configuration>
