<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ESMEWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework codeConfigurationType="ESME.Locations.MyDbConfiguration, ESME.Locations">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="ESME.Locations.LocationContext, ESME">
        <databaseInitializer type="ESME.Locations.LocationDatabaseInitializer, ESME" />
      </context>
    </contexts>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <ESMEWorkbench.Properties.Settings>
      <setting name="LayersWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ShowWorldMap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPanZoom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowScaleBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SecondsPerTimeStep" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorldMapLineColor" serializeAs="String">
        <value>#FF808080</value>
      </setting>
      <setting name="WorldMapLineWeight" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowBasemap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastShapefileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastOverlayFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastScenarioFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastExperimentFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastEnvironmentFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="TLTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TLLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TLWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="TLHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="LastCSVExportFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastImageExportFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastBathymetryFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastAnimatPopulationDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ExperimentReportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="TransmissionLayersWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="LogViewTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogViewLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogViewHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LogViewWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="LogLastDir" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="LogListWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="LocationViewHeight" serializeAs="String">
        <value>250</value>
      </setting>
    </ESMEWorkbench.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationFramework" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>