<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OneNavyModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ESMEWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ESMERibbonDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ESMERibbonDemo.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <system.diagnostics>
    <sources>
      <!--
      <source name="System.Windows.Data" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.DependencyProperty" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Freezable" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.RoutedEvent" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Media.Animation" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.NameScope" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.ResourceDictionary" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Markup" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
      <!--
      <source name="System.Windows.Documents" switchName="SourceSwitch" >
        <listeners>
          <add name="textListener" />
        </listeners>
      </source>
      -->
    </sources>


    <switches>
      <add name="SourceSwitch" value="All"/>
      <!--<add name="XmlSerialization.Compilation" value="1" />-->
      <!--add name="SourceSwitch" value="Off" -->
      <!--add name="SourceSwitch" value="Verbose" -->
      <!--add name="SourceSwitch" value="Warning" -->
      <!--add name="SourceSwitch" value="Activity" -->
    </switches>

    <sharedListeners>
      <!-- This listener sends output to the console -->
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
      <!-- This listener sends output to an Xml file named AvTrace.xml -->
      <add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="None" initializeData="AvTrace.xml"/>
      <!-- This listener sends output to a file named AvTrace.txt -->
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AvTrace.txt"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="4"></trace>

  </system.diagnostics>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
    <OneNavyModel.Properties.Settings>
      <setting name="LayersWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ShowBasemap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPanZoom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastShapefileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastOverlayFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastScenarioFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastExperimentFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastEnvironmentFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="TLTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TLLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TLWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="TLHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="LastCSVExportFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastImageExportFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowScaleBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastBathymetryFileDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LastAnimatPopulationDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="SecondsPerTimeStep" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExperimentReportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="TransmissionLayersWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="SelectedRibbonTabIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LogViewTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogViewLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogViewHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LogViewWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="LogLastDir" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="LogListWidth" serializeAs="String">
        <value>200</value>
      </setting>
    </OneNavyModel.Properties.Settings>
    <ESMEWorkbench.Properties.Settings>
      <setting name="LayersWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ShowWorldMap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowGrid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPanZoom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowScaleBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SecondsPerTimeStep" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedRibbonTabIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WorldMapLineColor" serializeAs="String">
        <value>#FF808080</value>
      </setting>
      <setting name="WorldMapLineWeight" serializeAs="String">
        <value>1</value>
      </setting>
    </ESMEWorkbench.Properties.Settings>
    <ESMERibbonDemo.Properties.Settings>
      <setting name="LayersWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </ESMERibbonDemo.Properties.Settings>
    <ESMERibbonDemo.Properties.App>
      <setting name="LayersWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>1000, 600</value>
      </setting>
    </ESMERibbonDemo.Properties.App>
  </userSettings>
</configuration>
