[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

attrs = ">=17.4.0"
vcversioner = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6"
