<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnvironmentBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnvironmentBuilder.Properties.Settings>
            <setting name="DatabaseHost" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabaseTableName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabaseUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabaseEncryptedPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveDatabaseCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnvironmentDataDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="NemoDataDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="NemoProjectDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="OverlayFilesDirectory" serializeAs="String">
                <value/>
            </setting>
        </EnvironmentBuilder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
