<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName = "DBDB-V for ESME Workbench" ?>
  <?define ProductVersion = "5.4" ?>
  <?define ProductFullVersion = "5.4.0.0" ?>
  <?define ProductAuthor = "Hearing Research Center" ?>
  <?define Manufacturer="Boston University"?>
  <?define ProductAppFolder = "InstallLocation" ?>
  <?define OAMLRoot="S:\OAML Data Sources"?>
  <?define DBDBPath="$(var.OAMLRoot)\DBDBV_v5.4"?>
  <?define DataPath="$(var.DBDBPath)\data"?>
  <?define UtilPath="$(var.DBDBPath)\bin\windows"?>
  <?define ProductDisplayName = "$(var.ProductName)" ?>
  <?define ProductId = "43165055-2504-4D1B-9749-84357CD3CCCA" ?>
  <?define ProductUpgradeCode = "02E49857-286F-4C7E-8774-EB9151F12004" ?>
  <Product Id="$(var.ProductId)"
           Name="$(var.ProductDisplayName) (v$(var.ProductVersion))"
           Language="1033"
           Version="$(var.ProductFullVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="300"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="$(var.ProductAuthor)"/>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CommonAppDataFolder">
        <Directory Id="BostonUniversity" Name="Boston University">
          <Directory Id="ESMEWorkbench" Name="ESME Workbench">
            <Directory Id="EnvironmentalDatabases" Name="Environmental Databases">
              <Directory Id="INSTALLLOCATION" Name="DBDB-V 5.4">
					      <Component Id="DBDBFiles" Guid="c4a35581-7408-4973-b697-498b1ba7cd0e">
                  <File Id="dbdbv5_level0c_0.h5"
                        Name="dbdbv5_level0c_0.h5"
                        Source="$(var.DataPath)\dbdbv5_level0c_0.h5"
                        KeyPath="yes" />
                  <File Id="dbv5_command.exe"
                        Name="dbv5_command.exe"
                        Source="$(var.UtilPath)\dbv5_command.exe" />
					      </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
		</Directory>
    
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="E5E28DC2-A5A8-4434-855C-93BE9C37CDBA">
        <RegistryKey Root="HKLM"
                     Key="Software\Boston University\ESME Workbench\Data Sources\DBDB-V 5.4"
              Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[INSTALLLOCATION]"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="DBDBFiles" />
      <ComponentRef Id="RegistryEntries" />
		</Feature>
	</Product>
</Wix>
