<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define ProductName = "ESME WorkBench 2011"?>
  <?define OldProductVersion="2.1.1.0" ?>
  <?define ProductVersion="2.1.2.0" ?>
  <?define Manufacturer="Boston University"?>
  <?define ProductCode="{C2113C4A-86D3-4BA8-AED4-30976D5539A6}"?>
  <?define UpgradeCode="{f82eae19-b38d-47f9-bed7-33454e612509}"?>
  <?define ESMERoot="C:\Projects\ESME Deliverables"?>
  <?define ESMEPath="$(var.ESMERoot)\ESME WorkBench\bin\Release"?>
  <?define ESMEViewsPath="$(var.ESMERoot)\ESME.Controls\bin\Release"?>
  <?define BellhopPath="$(var.ESMERoot)\Utilities\Bellhop"?>
  <?define MMMBSPath="$(var.ESMERoot)\Utilities\MMMBS\demoProjects"?>
  <?define MergeModulesPath="C:\Program Files (x86)\Common Files\Merge Modules"?>
  <?define ReleaseNotesPath="$(var.ESMERoot)\Release Notes"?>
  <?define ExtractionProgramsPath="$(var.ESMERoot)\Utilities\OAML Extractors"?>
  <Product Id="$(var.ProductCode)" 
           Name="$(var.ProductName)" 
           Version="$(var.ProductVersion)" 
           Manufacturer="$(var.Manufacturer)" 
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033" 
           Codepage="1252">
    <Package Description="ESME WorkBench 2011"
             Comments="Deliverable for 11 March 2011"
             Manufacturer="$(var.Manufacturer)" 
             InstallerVersion="300" 
             Languages="1033" 
             SummaryCodepage="1252"
             Compressed="yes" 
             AdminImage="no"
             ReadOnly="yes"
             ShortNames="no"
             InstallScope="perMachine"
             Keywords="Installer,ESME,WorkBench"/>

    <Media Id="1" Cabinet="esme2010.cab" EmbedCab="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp" />

    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="$(var.OldProductVersion)"
                      IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    </Upgrade>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
          <Component Id="ESME_WorkBench" Guid="de2c6c9d-6e47-43fa-9326-53326891ed41">
            <ProgId Id="ESMEWorkbench.esmefile" Description="ESME WorkBench Experiment file" Icon="ESME_WorkBench.exe" IconIndex="1">
              <Extension Id="esme" ContentType="application/esme">
                <Verb Id="open" Command="Open" TargetFile="ESME_WorkBench.exe" Argument='"%1"'/>
              </Extension>
            </ProgId>
            <!-- Core ESME executables and assemblies -->
            <File Id="ESME_WorkBench.exe" 
                  Name="ESME WorkBench.exe" 
                  Source="$(var.ESMEPath)\ESME WorkBench.exe" 
                  KeyPath="yes"/>
            <File Id="ESME_WorkBench.exe.config" 
                  Name="ESME WorkBench.exe.config" 
                  Source="$(var.ESMEPath)\ESME WorkBench.exe.config" />
            <File Id="ESME.dll"
                  Name="ESME.dll"
                  Source="$(var.ESMEPath)\ESME.dll" />
            <File Id="ESME.Views.dll"
                  Name="ESME.Views.dll"
                  Source="$(var.ESMEViewsPath)\ESME.Views.dll" />
            <File Id="HRC.dll"
                  Name="HRC.dll"
                  Source="$(var.ESMEPath)\HRC.dll" />
            <File Id="ReleaseNotes"
                  Name="ESME Workbench 2011 Release Notes.pdf"
                  Source="$(var.ReleaseNotesPath)\ESME Workbench 2011 Release Notes.pdf" />
            <File Id="UserGuide"
                  Name="ESME Workbench 2011 User Manual.pdf"
                  Source="$(var.ReleaseNotesPath)\ESME Workbench 2011 User Manual.pdf" />
            <File Id="WebsiteLink"
                  Name="ESME.url"
                  Source="$(var.ESMERoot)\ESME.url" />

            <!-- External executables -->

            <!-- OAML extraction programs -->
            <!-- SMGC extraction program -->
            <File Id="SMGCExtract.exe"
                  Name="SMGCExtract.exe"
                  Source="$(var.ExtractionProgramsPath)\SMGCExtract.exe" />
            <!-- BST extraction program -->
            <File Id="extract.exe"
                  Name="extract.exe"
                  Source="$(var.ExtractionProgramsPath)\extract.exe" />
            <!-- DBDB-V extraction program -->
            <File Id="dbv5_command.exe"
                  Name="dbv5_command.exe"
                  Source="$(var.ExtractionProgramsPath)\dbv5_command.exe" />
            <!-- GDEM Database Extractor (NetCDF format) -->
            <File Id="ImportNetCDF.exe"
                  Name="ImportNetCDF.exe"
                  Source="$(var.ExtractionProgramsPath)\ImportNetCDF.exe" />
            <File Id="netcdf.dll"
                  Name="netcdf.dll"
                  Source="$(var.ExtractionProgramsPath)\netcdf.dll" />
            <File Id="NetCDF_Wrapper.dll"
                  Name="NetCDF_Wrapper.dll"
                  Source="$(var.ExtractionProgramsPath)\NetCDF_Wrapper.dll" />
            <!-- End OAML extraction programs -->

            <!-- Bellhop acoustic simulator -->
            <File Id="bellhop.exe"
                  Name="bellhop.exe"
                  Source="$(var.BellhopPath)\bellhop.exe" />
            <!-- End external executables -->

            <!-- ThinkGeo GIS assemblies -->
            <File Id="MapSuiteCore.dll" 
                  Name="MapSuiteCore.dll" 
                  Source="$(var.ESMEPath)\MapSuiteCore.dll" />
            <File Id="NetTopologySuite.dll" 
                  Name="NetTopologySuite.dll" 
                  Source="$(var.ESMEPath)\NetTopologySuite.dll" />
            <File Id="GeoAPI.dll" 
                  Name="GeoAPI.dll" 
                  Source="$(var.ESMEPath)\GeoAPI.dll" />
            <File Id="WpfDesktopEdition.dll" 
                  Name="WpfDesktopEdition.dll" 
                  Source="$(var.ESMEPath)\WpfDesktopEdition.dll" />

            <!-- MVVM assemblies -->
            <File Id="Cinch.WPF.dll"
                  Name="Cinch.WPF.dll"
                  Source="$(var.ESMEPath)\Cinch.WPF.dll" />
            <File Id="MEFedMVVM.WPF.dll"
                  Name="MEFedMVVM.WPF.dll"
                  Source="$(var.ESMEPath)\MEFedMVVM.WPF.dll" />
            
            <!-- Miscellaneous assemblies -->
            <File Id="Kent.Boogaart.Converters.dll"
                  Name="Kent.Boogaart.Converters.dll"
                  Source="$(var.ESMEPath)\Kent.Boogaart.Converters.dll" />
            <File Id="Kent.Boogaart.HelperTrinity.dll"
                  Name="Kent.Boogaart.HelperTrinity.dll"
                  Source="$(var.ESMEPath)\Kent.Boogaart.HelperTrinity.dll" />

            <!-- 3MB assemblies -->
            <File Id="MMMBSLib.dll"
                  Name="3MBSLib.dll"
                  Source="$(var.MMMBSPath)\3MBSLib.dll" />
            <File Id="MMMBWrapperClass.dll"
                  Name="3MBWrapperClass.dll"
                  Source="$(var.MMMBSPath)\3MBWrapperClass.dll" />
            <File Id="MMMB.exe"
                  Name="3MB.exe"
                  Source="$(var.MMMBSPath)\3MB.exe" />
            <File Id="MMMBSpeciesBuilder.exe"
                  Name="3mbSpeciesBuilder.exe"
                  Source="$(var.MMMBSPath)\3mbSpeciesBuilder.exe" />

            <!-- Miscellaneous Microsoft assemblies -->
            <File Id="Microsoft.Expression.InteractionsDLL" 
                  Name="Microsoft.Expression.Interactions.dll" 
                  Source="$(var.ESMEPath)\Microsoft.Expression.Interactions.dll" />
            <File Id="System.Windows.Interactivity.dll" 
                  Name="System.Windows.Interactivity.dll" 
                  Source="$(var.ESMEPath)\System.Windows.Interactivity.dll" />
            <File Id="Microsoft.Windows.Shell.dll" 
                  Name="Microsoft.Windows.Shell.dll" 
                  Source="$(var.ESMEPath)\Microsoft.Windows.Shell.dll" />

            <!-- Microsoft Ribbon assembly -->
            <File Id="RibbonControlsLibrary.dll" 
                  Name="RibbonControlsLibrary.dll" 
                  Source="$(var.ESMEPath)\RibbonControlsLibrary.dll" />
          </Component>
          
          <Merge Id="vc100" Language="1033" SourceFile="$(var.MergeModulesPath)\Microsoft_VC100_CRT_x86.msm" DiskId="1" />
          
          <Component Id="ESME_Shortcuts" Guid="5D033776-4F54-44F9-BC3E-28D174AFA5AF">
            <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
              <RegistryValue Value="Uninstall" Type="string" KeyPath="yes" />
            </RegistryKey>
            <Shortcut Id="ESME_WorkBench_Program_Group_Shortcut"
                      Directory="ProgramMenuDir"
                      Name="$(var.ProductName)"
                      WorkingDirectory="INSTALLLOCATION"
                      Target="[INSTALLLOCATION]ESME WorkBench.exe"
                      Advertise="no" />
            <Shortcut Id="ReleaseNotes_Shortcut"
                      Directory="ProgramMenuDir"
                      Name="Release Notes"
                      WorkingDirectory="INSTALLLOCATION"
                      Target="[INSTALLLOCATION]ESME Workbench 2011 Release Notes.pdf"
                      Advertise="no" />
            <Shortcut Id="UserGuide_Shortcut"
                      Directory="ProgramMenuDir"
                      Name="User Guide"
                      WorkingDirectory="INSTALLLOCATION"
                      Target="[INSTALLLOCATION]ESME Workbench 2011 User Manual.pdf"
                      Advertise="no" />
            <Shortcut Id="WebLink_Shortcut"
                      Directory="ProgramMenuDir"
                      Name="Visit the ESME Website to download environmental data"
                      WorkingDirectory="INSTALLLOCATION"
                      Target="[INSTALLLOCATION]ESME.url"
                      Advertise="no" />
            <Shortcut Id="ESME_WorkBench_Desktop_Shortcut"
                      Directory="DesktopFolder"
                      Name="$(var.ProductName)"
                      WorkingDirectory="INSTALLLOCATION"
                      Target="[INSTALLLOCATION]ESME WorkBench.exe"
                      Advertise="no" />
            <Shortcut Id="UninstallProduct"
                      Directory="ProgramMenuDir"
                      Advertise="no"
                      Name="Uninstall $(var.ProductName)"
                      WorkingDirectory="INSTALLDIR"
                      Target="[SystemFolder]msiexec.exe"
                      Arguments="/x [ProductCode]"
                      Description="Uninstalls $(var.ProductName)" />
            <RemoveFolder Id="DeleteShortcutFolder"
                          Directory="ProgramMenuDir"
                          On="uninstall" />
          </Component>

          <Directory Id="GISDataFolder" Name="Sample GIS Data">
            <Component Id="GISFiles" Guid="7BF299D9-28A5-4C2E-B572-5F701ACBAF7E">
              <File Id="Countries02.shx" 
                    Name="Countries02.shx" 
                    Source="$(var.ESMEPath)\Sample GIS Data\Countries02.shx" 
                    KeyPath="yes" />
              <File Id="Countries02.dbf" 
                    Name="Countries02.dbf" 
                    Source="$(var.ESMEPath)\Sample GIS Data\Countries02.dbf" />
              <File Id="Countries02.ids" 
                    Name="Countries02.ids"
                    Source="$(var.ESMEPath)\Sample GIS Data\Countries02.ids" />
              <File Id="Countries02.idx" 
                    Name="Countries02.idx"
                    Source="$(var.ESMEPath)\Sample GIS Data\Countries02.idx" />
              <File Id="Countries02.shp" 
                    Name="Countries02.shp" 
                    Source="$(var.ESMEPath)\Sample GIS Data\Countries02.shp" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="ESME Workbench" Level="1" ConfigurableDirectory="INSTALLLOCATION">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <ComponentRef Id="ESME_WorkBench" />
      <MergeRef Id="vc100"/>
      <ComponentRef Id="GISFiles" />
      <ComponentRef Id="ESME_Shortcuts"/>
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>

    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <CustomAction Id='IsPrivileged' Error='You must be an administrator to install this product' />
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <Custom Action='IsPrivileged' Before='LaunchConditions'>NOTPRIVILEGED</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action='IsPrivileged' Before='LaunchConditions'>NOTPRIVILEGED</Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir" />
    <!--
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="View README.TXT file when setup exits" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="ViewReadmeOnExit">
        WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT = 1 and NOT Installed
      </Publish>
    </UI>
    <Property Id="WixShellExecTarget" Value="[#ReadMe.txt]" />
    <CustomAction Id="ViewReadmeOnExit" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="The .NET Framework 4.0 full version must be installed before installing ESME WorkBench">
      <![CDATA[Installed OR NETFRAMEWORK40]]>
    </Condition>
    -->

  </Product>
</Wix>