<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="TLDataContextConnectionString" connectionString="User Id=root;Password=a;Host=localhost;Database=transmission_loss;Persist Security Info=True"/>
        <add name="TLDatabaseConnectionString" connectionString=""/>
        <add name="TLDatabaseContextConnectionString" connectionString="User Id=root;Password=a;Host=localhost;Database=transmission_loss;Persist Security Info=True"/>
        <add name="SimulationDataContextConnectionString" connectionString="User Id=root;Password=a;Host=localhost;Persist Security Info=True"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
