<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.2.4822.42600" targetFramework="net40" />
  <package id="EntityFramework" version="4.3.1" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.6" targetFramework="net40" />
  <package id="ILNumerics" version="3.2.2.0" targetFramework="net40" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net40" />
  <package id="MathNet.Numerics" version="2.6.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net40" />
  <package id="PostSharp" version="2.1.7.5" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-WPF" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-XAML" version="2.1.30214.0" targetFramework="net40" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net40" />
</packages>