<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include version.wxi ?>
  <?define ProductAuthor = "Hearing Research Center" ?>
  <?define Manufacturer="Boston University"?>
  <?define ProductAppFolder = "InstallLocation" ?>
  <?define InstallersRoot="C:\Projects\ESME Deliverables\Installers"?>
  <?define ESMERoot="$(var.InstallersRoot)\ESME Workbench"?>
  <?define DatabasesRoot="$(var.InstallersRoot)\Installable NAVO Databases"?>
  <?define PluginsRoot="$(var.InstallersRoot)\Plugins"?>
  <?if $(var.Platform) = x64 ?>
  <?define Bitness="64-bit"?>
  <?else ?>
  <?define Bitness="32-bit"?>
  <?endif ?>
  <?define ProductName = "ESME Workbench 2012 App & Database Bundle" ?>
  <Bundle Name="$(var.ProductName) ($(var.Bitness))" 
          Version="$(var.ProductFullVersion)" 
          Manufacturer="$(var.Manufacturer)" 
          UpgradeCode="88B26169-9067-4371-B043-358D191E9001" 
          IconSourceFile="..\Common Files\Wave.ico"
          SplashScreenSourceFile="..\Common Files\ESMELogo.bmp" 
          AboutUrl="http://esme.bu.edu/"
          UpdateUrl="http://esme.bu.edu"
          Compressed="no">
    <Variable Name="BundleLongName" Value="Effects of Sound on the Marine Environment" />
    <Variable Name="ProductShortName" Value="ESME" />
    <Variable Name="ProductLongName" Value="$(var.ProductName) ($(var.Bitness)) v$(var.ProductFullVersion)" />
    <Variable Name="BackgroundColor" Value="#FF20B2AA" />
    <Variable Name="ProgressBarColor" Value="#FF008E91" />
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload Name="BootstrapperCore.config"
               SourceFile="..\ManagedBootstrapper\Bootstrapper.BootstrapperCore.config" />
      <Payload Name="Bootstrapper.dll"
               SourceFile="..\ManagedBootstrapper\bin\Release\Bootstrapper.dll" />
      <Payload Name="License.htm"
               SourceFile="..\Common Files\license.htm" />
      <Payload Name="NetFxLicense.rtf"
               SourceFile="..\dotNetFx40\NetFxLicense.rtf" />
    </BootstrapperApplicationRef>
    <Chain DisableRollback="yes" DisableSystemRestore="yes" ParallelCache="yes">
      <PackageGroupRef Id="Netfx4Full" />
      <ExePackage DownloadUrl="http://esme.bu.edu/data/ESME%20Application-$(var.Platform).exe"
                  SourceFile="..\ESME Application\msi\ESME Application-$(var.Platform).exe"
                  InstallCommand="/q /ACTION=Install"
                  RepairCommand="/q ACTION=Repair /hideconsole"
                  UninstallCommand="/q /ACTION=Uninstall /hideconsole"
                  Vital="no" />
      <ExePackage DownloadUrl="http://esme.bu.edu/data/OAML%20Databases%20for%20ESME-$(var.Platform).exe"
                  SourceFile="..\OAML Databases for ESME\msi\OAML Databases for ESME-$(var.Platform).exe"
                  InstallCommand="/q /ACTION=Install"
                  RepairCommand="/q ACTION=Repair /hideconsole"
                  UninstallCommand="/q /ACTION=Uninstall /hideconsole"
                  Vital="no" />
    </Chain>
  </Bundle>
</Wix>
